body{
  background-color: rgb(25, 25, 25);
  color: rgb(246, 246, 246);
  display: flex;
  align-items: center;
  justify-content: center;
}

.app{
  /* font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif; */
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  align-items: center;
  display: inline-flex;
  flex-direction: column;
}

#demo-logo {
  background-image: url(logo.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
}

.app-dropdowns{
  display: inline-flex;
  flex-direction: row;
}

.dropdown-container{
  padding: 0px 20px 20px 20px;
  position: relative;
}

.dropdown-input{
  background-color: rgb(15, 15, 15);
  width: 304px;
  min-height: 40px;
  border-radius: 15px;
  padding:0 10px;
  padding-top: 6px;
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.dropdown-placeholder{
  color: rgb(100, 100, 100);
  margin-bottom: 6px;
}

.dropdown-values{
  max-height: 150px;
  overflow-y: scroll;
  margin: auto;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.dropdown-value{
  color: rgb(25, 25, 25);
  background-color: rgb(175, 175, 175);
  margin-right: 6px;
  margin-bottom: 6px;
  border-radius: 15px;
  padding:4px;
}

.dropdown-remove{
  cursor: pointer;
}

.icon{
  cursor: pointer;
}

.dropdown-options{
  width: 320px;
  max-width: 320px;
  max-height: 300px;
  overflow-y: scroll;
  margin-top: 20px;
  border-radius: 15px;
  visibility: hidden;
  z-index: 1;
  position: absolute;
  opacity: 0;
  transition: opacity 300ms, visibility 300ms;
  -webkit-transition: opacity 300ms, visibility 300ms;
}

.dropdown-active{
  visibility: visible;
  opacity: 1;
}

.dropdown-item{
  background-color: rgb(35, 35, 35);
  width: 300px;
  padding:10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.dropdown-item img{
  width: 50px;
  border-radius: 15px;
  margin-right: 20px;
}

.dropdown-item:hover{
  background-color: rgb(19, 17, 20);
}
